<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>Social Media Icons</name>
            <label lang="de">Icons</label>
            <label lang="en">Icons</label>
            <description lang="en">This is Social Media Icons plugin which shows on the footer.If you click on the icons it will directly take you to the social media profile.</description>
        </element>
    </elements>
</config>